/* base style */
:root {
/* fonts */
--font-family: "Roboto", sans-serif;
--second-family: "Raleway", sans-serif;

/* colors */
--iris: #4D5AE5;
--ocean: #404BBF;
--navy-blue: #2E2F42;
--green: #31D0AA;
--slate: #434455;
--light-slate: #8E8F99;
--cornflower: #E7E9FC;
--cloud: #F4F4FD;
--navy-blue-modal: #2E2F42;
--gray: #2E2F42;
--white: #FFFFFF;
--dairy: #FCFCFC;
}

body {
    font-family: var(--font-family);
    color: var(--slate);
    background-color: var(--white);
}


/* header-style */

.span-logo {
    color: var(--navy-blue);
    text-decoration: none;
}
.header-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
    text-decoration: none;
}

.header-list-nav {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    list-style-type: none;
}

.header-studio a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none;
}
.header-list-nav a:hover {
    color: var(--ocean);
}
.header-list-nav a:focus {
    color: var(--ocean);
}
.header-list-nav a:active {
    color: var(--ocean);
}

.page-address {
    color: var(--slate);
    font-style: normal;
}
.contacts-link {
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate);
}

.header-address a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
    list-style-type: none;
}

address ul a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}
address ul li a:hover {
    color: var(--ocean);
}
address ul li a:focus {
    color: var(--ocean);
}


/* main */
.section-main {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white);
    text-align: center;
}

.section-one {
    background: var(--navy-blue);
}
ul {
    list-style-type: none;
}

.button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    cursor: pointer;
}
.button:hover {
    background-color: var(--ocean);
}

.button:focus {
    background-color: var(--ocean);
}

.section-feature-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.section-feature-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.section-our-team {
    background: var(--cloud);
}

/* Our team */
.about-us {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-align: center;
    text-transform: capitalize;
}

.team-card-list{
    background-color: #FFFFFF;
}

.name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.personal-position {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.team-name-list {
    background-color: var(--white);
}

 /* Our Portfolio */
 .about-portfolio {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    text-align: center;
 }

.about-portfolio-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.about-portfolio-position {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}


.footer-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
}
.span-footer-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
    text-decoration: none;

    
}
.footer{
    background: var(--navy-blue);
} 
.footer-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--cloud);
}
